*{
  margin:0px;
  padding: 0px;
}
.test{
  color: blueviolet;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box{
  padding: 20px;
  background-color: deepskyblue;
  width: 120px;
  /* height: 110px; */
  /* margin: ; */
}
.box2{
  background-color: aqua;
}
.box3{
  background-color: lightseagreen;
}